@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-biru1: #5ce1e6;
    --bg-biru2: #3ee7ed;
    --bg-biru3: #007efc;
    --bg-hijau1: #7ed957;
    --bg-hijau2: #a8f283;
    --bg-hijau3:#22ff05;
    --bg-abu:#222a30;
    --bg-orange:#f5a905;

}


body{
    background: #000000;
    color: #ffffff;
}

.header{
    position: fixed;
    width: 100%;
    padding: 30px 10%;
    background: #2a2727;
    display:flex;
    justify-content: space-between;
    align-item: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #5ce1e6;
    text-decoration: none;
    font-weight: 600;
}

.header ul{
    list-style: none;
    display: flex;
}

.header li{
    font-size: 18px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
} 


.header a{
    text-decoration: none;
    color: var(--bg-biru2);
    transition: background-color 150ms ease;

}

.header a:hover,
.header a:active{
    background-color:var(--bg-biru3); 
}


section{
    height: 100vh;
    padding: 0 10%;
    gap: 30rem;
}

.home{
    display:flex;
    align-items: center;
}


.home-img img{
    border-radius: 100%;
}

.home .home-img {
    position: relative;
    display: flex;
    align-item: center;
    justify-content: center;
    isolation: isolate;
}

.home .home-img::before, 
.home-img::after{
    content: '';
    position: absolute;
    top: -3%
}

.home .home-img::before{
    width: 100%;
    height: 105%;
    border-radius: 100%;
    background-image: conic-gradient(var(--bg-hijau3)
    0deg, transparent 60deg, transparent 180deg, var(--bg-hijau3)
    180deg, transparent 240deg);
    z-index: -1;
    animation: border-animation 4s linear infinite;

}

@keyframes border-animation{
    to{
        transform: rotate(-360deg);
    }
}



.home-content h2{
  font-size: 30px;
  font-weight: 700;
}

.home-content h3{
    font-size: 30px;
    font-weight: 700;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    color: var(--bg-biru1);
}

.home-content p{
    font-size:20px;
    font-weight: 500;
    margin-top:10px;
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
    margin-top: 10px;
}

.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #7ed957;
    border: 2px solid #7ed957;
    border-radius: 12px;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    margin-top:10px;
}

.btn-box a:hover,
.btn-box a.active{
    background: var(--bg-hijau2); 
}


.about{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5rem;
   height: 100vh;
   padding: 0 10%;
   //background:skyblue;
}

.about-content{
    max-width: 900px;
}

.about-content h1{
    font-size: 30px;
    font-weight: 700;
}

.about-content h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-biru1);
}

.about-content p{
    font-size: 20px;
    font-weight: 400;
}

.btn-box .btnsize{
    width: 140px;
    height: 50px;
    margin-top: 20px;
}


.heading{
    margin: 50px;
    text-align: center;
    font-size: 4.5;
    font-size: 40px;
    font-weight: 700;
    color: var(--bg-biru1);
    
}


.interested-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}


.interested-container .interested-box{
    flex: 1 1 30rem;
    background: var(--bg-abu);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 10px solid var(--bg-biru2);
    font-size: 20px;
    margin-bottom: 20px;
}

.interested-container .interested-box2{
    flex: 1 1 30rem;
    background: var(--bg-abu);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 10px solid var(--bg-hijau3);
    font-size: 20px;
    margin-bottom: 20px;
}

.interested-container .interested-box3{
    flex: 1 1 30rem;
    background: var(--bg-abu);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 10px solid var(--bg-orange);
    font-size: 20px;
    margin-bottom: 20px;
}



.interested-box i{
   font-size: 7rem;
   color: var(--bg-biru3);
}

.interested-box2 i{
   font-size: 7rem;
   color: var(--bg-hijau3);
}

.interested-box3 i{
   font-size: 7rem;
   color: var(--bg-orange);
}


.interested-container h3{
    margin: 20px;
    font-weight: 600;
}

.interested-box p{
    font-weight: 500;
    display:flex;
    justify-content: center;
}

.interested-container .btn-box{
    
}


.project h2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.wrapper .card{
   position: relative;
   width: 350px;
   height: 450px;
   border-radius: 40px;
   background: var(--bg-biru3);
   box-shadow: 0px 20px 25px rgba(25, 25, 25, 1.5);
   border: solid var(--bg-hijau2);
}

.project-img img{
    position: relative;
    width: 345px;
    height: 280px;
    background-size: 140%;
    border-radius: 40px 40px 0px 0px;
}

.wrapper .card .content{
    position: relative;
    top: -20px;
    z- index: 10;
    padding: 0px 30px;
    margin: 20px;
}


.designer{ 
    padding: 30px 10%;
    height: 250vh;

}

.design{
    margin: 0 auto;
    columns: 2 200px;
    column-gap: 2rem;
}

.design img{
    width: 100%;
    cursor: pointer;
    margin-bottom: 1em;
    transition: 400ms
}

.design img:hover{
   filter: var(--bg-hijau1);
   transform: scale(1.03);
}



.video-editing .card{
    position: relative;
    display: flex;
    align-item: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    background: var(--bg-biru3);
    border-radius: 1rem;
    color: skyblue;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    isolation: isolate;
    overflow: hidden;
}

.video-editing .card::before, 
.card::after{
    content: '';
    position: absolute;
}

.video-editing .card::before{
    width: 200%;
    height: 200%;
    background-image: conic-gradient(var(--bg-hijau1)
    0deg, transparent 60deg, transparent 180deg, var(--bg-hijau1)
    180deg, transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: border-animation 4s linear infinite;

}


@keyframes border-animation{
    to{
        transform: rotate(-360deg);
    }
}

.video-editing .card::after{
    background: #111;
    inset: 4px;
    border-radius: calc( 1rem - 4px);
    transition: all 0.3 linear;
    z-index: -1;
}

.contact{
    height: 30vh;
}


.contact-container{
    font-size: 40px;
    display: flex; 
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact-container a{
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;

}

.contact-container i{
    font-size: 40px;
    color: var(--bg-hijau1);
}


/*breakpoints*/

@media (max-width: 1200px){
    html{
        font-size: 55%
    }
}


@media (max-width: 911px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}


@media (max-width: 576px) {
     img{
         max-width: 10px;
     }
}










