@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-biru1: #5ce1e6;
    --bg-biru2: #3ee7ed;
    --bg-biru3: #007efc;
    --bg-hijau1: #7ed957;
    --bg-hijau2: #a8f283;
    --bg-hijau3:#22ff05;
    --bg-abu:#222a30;
    --bg-orange:#f5a905;

}

body{
    background: #000000;
    color: #ffffff;
}

section{
    min-block-size:100vh;
    padding: 0 10%;
    gap: 30rem;
}


/*navbar section*/
nav{
    background: #2a2727;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    padding: 10px 10%;
    inline-size: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-block-start: 10px;
}

nav li{
    block-size: 50px;
    font-size: 120px;
} 

nav li:first-child{
    margin-inline-end:auto;
}

nav a{
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items:center;
    color: var(--bg-biru2);
    font-size: 18px;
    font-weight: 500;
}

nav a:hover,
nav a:active{
   color:#ffffff 
}

.sidebar{
    position: fixed;
    inset-block-start: 0;
    inset-inline-end: 0;
    block-size: 100vh;
    inline-size: 250px;
    z-index: 999;
    background-color: #2a2727;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

/*home section*/
.home{
    display:flex;
    align-items: center;
}

.home-img img{
    
}

.home .home-img {
    position: relative;
    display: flex;
    align-item: center;
    justify-content: center;
    isolation: isolate;
}



.home-content h2{
  font-size: 30px;
  font-weight: 700;
}

.home-content h3{
    font-size: 30px;
    font-weight: 700;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    color: var(--bg-biru1);
}

.home-content p{
    font-size:20px;
    font-weight: 500;
    margin-block-start:10px;
}

.home-content .btn-box {
    inline-size: 345px;
    block-size: 50px;
    margin-block-start: 10px;
}

.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    inline-size: 150px;
    block-size: 100%;
    background: #7ed957;
    border: 2px solid #7ed957;
    border-radius: 12px;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    margin-inline-end: 10px;
    margin-block-start:10px;
}

.btn-box a:hover,
.btn-box a.active{
    background: var(--bg-hijau2); 
}

/*about section*/
.about{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5rem;
   block-size: 100vh;
   padding: 0 10%;
   background:skyblue;
}

.about-content{
    max-inline-size: 900px;
}

.about-content h1{
    font-size: 30px;
    font-weight: 700;
}

.about-content h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-biru1);
}

.about-content p{
    font-size: 20px;
    font-weight: 400;
}

.btn-box .btnsize{
    inline-size: 140px;
    block-size: 50px;
    margin-block-start: 20px;
}


.heading{
    margin: 50px;
    text-align: center;
    font-size: 4.5;
    font-size: 40px;
    font-weight: 700;
    color: var(--bg-biru1);
    
}

/*nterested section*/

.interested{
   
}

.interested-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}


.interested-container .interested-box{
    flex: 1 1 30rem;
    background: var(--bg-abu);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-biru2);
    font-size: 20px;
    margin-block-end: 20px;
}

.interested-container .interested-box2{
    flex: 1 1 30rem;
    background: var(--bg-abu);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-biru2);
    font-size: 20px;
    margin-block-end: 20px;
}

.interested-container .interested-box3{
    flex: 1 1 30rem;
    background: var(--bg-abu);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-biru2);
    font-size: 20px;
    margin-block-end: 20px;
}



.interested-box i{
   font-size: 7rem;
   color: var(--bg-biru3);
}

.interested-box2 i{
   font-size: 7rem;
   color: var(--bg-hijau3);
}

.interested-box3 i{
   font-size: 7rem;
   color: var(--bg-orange);
}


.interested-container h3{
    margin: 20px;
    font-weight: 600;
}

.interested-box p{
    font-weight: 500;
    display:flex;
    justify-content: center;
}

.interested-container .btn-box{
    
}


.project h2{
  margin-block-start: 20px;
  margin-block-end: 20px;
}

/*programing section*/

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.wrapper .card{
   position: relative;
   inline-size: 350px;
   block-size: 450px;
   border-radius: 40px;
   background: var(--bg-biru3);
   box-shadow: 0px 20px 25px rgba(25, 25, 25, 1.5);
   border: solid var(--bg-hijau2);
}

.project-img img{
    position: relative;
    inline-size: 345px;
    block-size: 280px;
    background-size: 140%;
    border-radius: 40px 40px 0px 0px;
}

.wrapper .card .content{
    position: relative;
    inset-block-start: -20px;
    z- index: 10;
    padding: 0px 30px;
    margin: 20px;
}

.wrapper .card .content .btn-box{
    display:flex;
    justify-content: center;
}

/*design section*/

.designer{ 
    padding: 30px 10%;
    block-size: 250vh;
}

.design{
    margin: 0 auto;
    columns: 2 200px;
    column-gap: 2rem;
}

.design img{
    inline-size: 100%;
    cursor: pointer;
    margin-block-end: 1em;
    transition: 400ms
}

.design img:hover{
   filter: var(--bg-hijau1);
   transform: scale(1.03);
}



.video-editing .card{
    position: relative;
    display: flex;
    align-item: center;
    justify-content: center;
    inline-size: 300px;
    block-size: 400px;
    background: var(--bg-biru3);
    border-radius: 1rem;
    color: skyblue;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    isolation: isolate;
    overflow: hidden;
}

.video-editing .card::before, 
.card::after{
    content: '';
    position: absolute;
}

.video-editing .card::before{
   

}


@keyframes border-animation{
    to{
        transform: rotate(-360deg);
    }
}

.video-editing .card::after{
    background: #111;
    inset: 4px;
    border-radius: calc( 1rem - 4px);
    transition: all 0.3 linear;
    z-index: -1;
}

.contact{
    block-size: 30vh;
}


.contact-container{
    font-size: 40px;
    display: flex; 
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact-container a{
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;

}

.contact-container i{
    font-size: 40px;
    color: var(--bg-hijau1);
}


/*breakpoints*/

@media (max-width: 1200px){
   .hidemobile{
    display: none;
   }
}


@media (max-width: 911px){
 
}


@media (max-width: 576px) {
     .hidemobile{
    display: none;
   }
}










